{% extends 'base.html.twig' %}

{% block title %}MyKards!{% endblock %}


{% block body %}
{%}

    <h1>MyKards</h1>

    <img class="logocards" src="https://cdn4.iconfinder.com/data/icons/casino-royale/512/cards_01-512.png">
    <br>
    <a class="message" href="{{ path('user_new') }}" >Personnaliser mon jeux !</a>

{% endblock %}
