{% extends 'base.html.twig' %}

{% block title %}MyKards!{% endblock %}


{% block body %}
{% include('/menu.php') %}

    <h1>MyKards</h1>

   
    <br>
    <a class="message" href="{{ path('user_new') }}" >Personnaliser mon jeux !</a>

{% endblock %}
