{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
{% include ('/menu.php') %}
    <h1>Connexion</h1>

    {{ include('connexion/_form.html.twig') }}

    <a href="{{ path('home') }}">Retour</a>
{% endblock %}
