{% extends 'base.html.twig' %}

{% block title %}New Cards{% endblock %}

{% block body %}
{# 
    {{ include('cards/_form.html.twig') }} #}

    <h1>MyKards</h1>

    <div id="cards">

                <head>
                <meta http-equiv="content-type" content="text/html; charset=UTF-8">
                <title> - jsFiddle demo</title>
                
                <script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>
                
                
                
                <style type='text/css'> 
                </style>
                
                
             
                
                </head>

    <body>
                
                <form method="post" id="form1" runat="server" action="index.html.twig">
                        <input  class="inputimg" type='file' id="imgInp" />
                        <img   id="blah" src="https://cdn0.iconfinder.com/data/icons/smashicons-casino-gambling-yellow-vol-2/60/86_-Ace_of_Hearts-_gamble_casino_play_card-512.png" alt="your image" />
                </form>

                <form method="post" id="form2" runat="server" action="index.html.twig">
                        <input  class="inputimg" type='file' id="imgInp2" />
                        <img   id="blah2" src="https://cdn0.iconfinder.com/data/icons/smashicons-casino-gambling-yellow-vol-2/60/86_-Ace_of_Hearts-_gamble_casino_play_card-512.png" alt="your image" />
                </form>

                 <form method="post" id="form3" runat="server" action="index.html.twig">
                        <input  class="inputimg" type='file' id="imgInp3" />
                        <img   id="blah3" src="https://cdn0.iconfinder.com/data/icons/smashicons-casino-gambling-yellow-vol-2/60/86_-Ace_of_Hearts-_gamble_casino_play_card-512.png" alt="your image" />
                </form>

                <form method="post" id="form4" runat="server" action="index.html.twig">
                        <input  class="inputimg" type='file' id="imgInp4" />
                        <img   id="blah4" src="https://cdn0.iconfinder.com/data/icons/smashicons-casino-gambling-yellow-vol-2/60/86_-Ace_of_Hearts-_gamble_casino_play_card-512.png" alt="your image" />
                </form>

                </div>



                 <div id="cards2">

                <form method="post" id="form5" runat="server" action="index.html.twig">
                        <input  class="inputimg" type='file' id="imgInp5" />
                        <img   id="blah5" src="https://cdn0.iconfinder.com/data/icons/smashicons-casino-gambling-yellow-vol-2/60/86_-Ace_of_Hearts-_gamble_casino_play_card-512.png" alt="your image" />
                </form>

                <form method="post" id="form6" runat="server" action="index.html.twig">
                        <input  class="inputimg" type='file' id="imgInp6" />
                        <img   id="blah6" src="https://cdn0.iconfinder.com/data/icons/smashicons-casino-gambling-yellow-vol-2/60/86_-Ace_of_Hearts-_gamble_casino_play_card-512.png" alt="your image" />
                </form>

                 <form method="post" id="form7" runat="server" action="index.html.twig">
                        <input  class="inputimg" type='file' id="imgInp7" />
                        <img   id="blah7" src="https://cdn0.iconfinder.com/data/icons/smashicons-casino-gambling-yellow-vol-2/60/86_-Ace_of_Hearts-_gamble_casino_play_card-512.png" alt="your image" />
                </form>

                <form method="post" id="form8" runat="server" action="index.html.twig">
                        <input  class="inputimg" type='file' id="imgInp8" />
                        <img   id="blah8" src="https://cdn0.iconfinder.com/data/icons/smashicons-casino-gambling-yellow-vol-2/60/86_-Ace_of_Hearts-_gamble_casino_play_card-512.png" alt="your image" />
                </form>

                </div>
                <p id="omg1"><strong  >Suivez nous sur les réseaux<p/>
                <img class="twitter" src="https://cdn3.iconfinder.com/data/icons/social-network-2/512/650855-twitter-512.png"/>
                <img class="twitter" src="https://cdn3.iconfinder.com/data/icons/social-network-2/512/650867-facebook-512.png"/>
                <img class="twitter" src="https://cdn3.iconfinder.com/data/icons/social-network-2/512/650853-yt-512.png"/>
                 <img class="twitter" src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Instagram-512.png"/>
                <br>
   <a id="omg" href="{{ path('cards_index') }}"><strong >Retour à la liste</strong>
  

    
    
    </div>
       
                
                
    </body>

{% endblock %}
