{% extends 'base.html.twig' %}

{% block title %}My Kards ! {% endblock %}

{% block body %}
{% include('/menu.php') %}
    <h1>Créer un nouveau Jeu</h1>

    {{ include('game/_form.html.twig') }}

    {#{{ dump(users) }}#}

{% endblock %}
