{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Nouvel utilisateur</h1>



    {{ include('user/_form.html.twig') }}


    <a class="message" href="{{ path('user_index') }}">Retour à la liste</a>

    <a class="message1" href="{{ path('game_new') }}">Déjà Inscrit</a>

{% endblock %}
