{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
{% include('/menu.php') %}
    <h1>Nouvel utilisateur</h1>



    {{ include('user/_form.html.twig') }}


    <a class="message1" href="{{ path('game_new') }}">Déjà Inscrit ?</a>

{% endblock %}
